menu "DRV8825 driver"

config DRV8825
    bool "Enable DRV8825 driver"
	depends on DT_HAS_TI_DRV8825_ENABLED
	select STEP_DIR_STEPPER
    help
      Enable support for the DRV8825 Stepper Motor Driver.

config DRV8825_LOG_LEVEL
    int "Log level (0=off..4=debug)"
    range 0 4
    default 3
    depends on DRV8825

endmenu